@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
  
  body {
    font-family: 'Lato', sans-serif;
    font-size: 15pt;
    color: #283133;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  .sidebar, body, input {
    background: #FAFDFE;
  }
  .sidebar {
    z-index: 3;
  }

  section.cover h1 {
    margin: 1.25rem 0 2.5rem
  }

  section.cover .cover-main>p:last-child a {
    letter-spacing: 0;
  }
  
  h1,h2,h3,h4,h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }

  .markdown-section p {
    word-spacing: 0;
  }

  .content p {
    line-height: 1.5;
  }

  .markdown-section h1:not(:first-of-type) {
    margin-top: 2em;
  }

  .markdown-section code {
    color: #b15fa2;
  }

  b,strong {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }

  .app-nav a {
    font-size: 15pt;
  }
  .app-nav li ul li, .sidebar ul li a {
    font-size: 13pt;
  }
  article p a, article li a {
    color: #006998;
    text-decoration: none;
    border-bottom: 3px solid rgba(28,164,222,0.2);
    transition: all 0.2s ease-in-out;
  }
  article p a:hover, article li a:hover {
    color: #00344c;
    border-bottom-color: rgba(0,52,76,0.4);
  }
  .markdown-section > :first-child a {
    border-bottom: none;
    font-size: 13pt;
  }
  .sidebar li {
    line-height: 1.6;
  }
  .sidebar ul li.active > a {
    font-family: 'Lato', sans-serif;
  }
  article li {
    margin-bottom: 10px;
  }
  .logo {
    float:right; margin-left:20px; margin-top: 5px;
  }

  ul li p {
    clear: both;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row p {
    clear: both;
  }

  .one-sixth {
    float: left;
    width: 100%;
    margin-bottom: 16px;
  }

  @media screen and (min-width: 720px) {
    .one-sixth {
      float: left;
      width: 14%;
      margin-right: 5%;
    }
  }

  .one-third {
    float: left;
    width: 100%;
    margin-bottom: 16px;
  }

  @media screen and (min-width: 720px) {
    .one-third {
      float: left;
      width: 28%;
      margin-right: 5%;
    }
  }

  .one-half {
    float: left;
    width: 100%;
    margin-bottom: 16px;
  }

  @media screen and (min-width: 720px) {
    .one-half {
      float: left;
      width: 45%;
      margin-right: 3.5%;
    }
  }

  .swatches {
    margin-top: 2em;
  }

  .swatches:after {
    content: "";
    display: table;
    clear: both;
  }

  .swatch-wrapper {
    width: 30%;
    float: left;
    margin-bottom: 2em;
    background-color: #ffffff;
    margin-right: 3%;
    border: 1px solid #cccccc;
  }

  .swatch {
    width: 100%;
    height: 60px;
    margin-bottom: 0.25em;
  }

  .swatch-text {
    padding: 10px;
  }

  .swatch-text h4 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .photo.headshot {
    width: 200px;
  }

  .photo.headshot.round {
    border-radius: 100px;
  }

  .mt1 {
    margin-top: 1em;
  }

  .mt2 {
    margin-top: 2em;
  }

  .mb0 {
    margin-bottom: 0;
  }

  .p1 {
    padding: 1em;
  }

  .bg-dark-blue {
    background-color: #006998;
  }
  .cover.show {
    background: #f2f2f2 !important;
  }
  section.cover .cover-main > p:last-child a {
    line-height: 2em;
  }
  .logos img {
    height: 80px;
  }
  .logos img:first-of-type {
    margin-right: 2em;
  }
  @media screen and (max-width: 720px) {
    .logos img:first-of-type {
      margin-right: 0;
      margin-bottom: 0.5em;
    }
  }
